@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------------------------------------------------------*/
body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
          box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
}
.header__top {
  border-bottom: 1px solid rgba(222, 222, 255, 0.5);
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__icons {
  padding: 17px 0px;
}
.header__icons a {
  margin-right: 22px;
}
.header__icons a:nth-child(1) {
  position: relative;
}
.header__icons a:nth-child(1):hover::after {
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  position: absolute;
  background: url("../img/icons/11.png") 0 0 no-repeat;
}
.header__icons a:nth-child(2) {
  position: relative;
}
.header__icons a:nth-child(2):hover::after {
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  left: 1px;
  position: absolute;
  background: url("../img/icons/22.png") 0 0 no-repeat;
}
.header__icons a:nth-child(3) {
  position: relative;
}
.header__icons a:nth-child(3):hover::after {
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  position: absolute;
  background: url("../img/icons/33.png") 0 0 no-repeat;
}
.header__phones {
  padding: 16px 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #23283B;
}
.header__phones span:nth-child(1) {
  margin: 0px 56px 0px 0px;
  position: relative;
}
.header__phones span:nth-child(1)::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -27px;
  background: url("../img/icons/phone.png") 0 0 no-repeat;
}
.header__phones span:nth-child(2) {
  position: relative;
}
.header__phones span:nth-child(2)::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -27px;
  background: url("../img/icons/whatsapp.png") 0 0 no-repeat;
}
.header__logo {
  padding: 20px 0px;
}
.content {
  margin: 130px 0px 0px 0px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22px;
}
.item__titles {
  padding: 31px 22px;
}
.item__titles a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #23283B;
  margin: 0px 32px 0px 0px;
}
.item__titles a:last-child {
  margin: 0;
}
.item__titles a:hover {
  color: #3035C4;
}
.item__btn {
  margin: 16px 0px;
  padding: 0px 22px;
}
.item__btn a {
  display: inline-block;
  padding: 0px 28px;
  height: 48px;
  line-height: 48px;
  background-color: #E6514A;
  border-radius: 40px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
}
.item__btn a:hover {
  background-color: #BE312B;
}
.item__btn span {
  padding: 0px 0px 0px 30px;
  background: url("../img/icons/btn phone.png") left no-repeat;
}

.starter__body {
  position: relative;
}
.starter__text {
  padding: 120px 0px 143px 0px;
  width: 570px;
}
.starter__pretitle {
  margin: 0px 0px 28px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #3035C4;
}
.starter__title {
  margin: 0px 0px 52px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 73px;
  color: #23283B;
}
.starter__title span {
  color: #E6514A;
}
.starter__btn a {
  display: inline-block;
  height: 52px;
  background: #E6514A;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 0px 60px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
}
.starter__btn a:hover {
  background-color: #BE312B;
}
.starter__img {
  width: 605px;
  height: 638px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: -130px;
  border-radius: 0px 0px 0px 50px;
  -webkit-box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.2);
          box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.2);
}
.starter__img img {
  max-width: 100%;
}

.greetings {
  padding: 54px 0px 100px 0px;
  position: relative;
  z-index: 1;
}
.greetings:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 325px;
  opacity: 0.4;
  z-index: -1;
  background: url("../img/background1.png") 50%/100% auto no-repeat;
}
.greetings__title {
  margin: 0px 0px 42px 0px;
}
.greetings__img {
  position: relative;
  width: 770px;
  height: 440px;
  margin: 0px auto;
  border-radius: 10px;
  overflow: hidden;
}
.greetings__img video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.greetings__img:hover::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 44.5%;
  width: 87px;
  height: 87px;
  background: url("../img/icons/play2.png") 0 0 no-repeat;
}

.subtitle {
  color: #23283B;
  margin: 0px 0px 20px 0px;
  text-align: center;
  line-height: 17px;
}
.subtitle span {
  position: relative;
}
.subtitle span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -52px;
  width: 40px;
  height: 1px;
  background-color: #E6514A;
}

.title {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  color: #23283B;
}

.programms {
  padding: 100px 0px 80px 0px;
}
.programms__title {
  margin: 0px 0px 52px 0px;
}
.programms__row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}
.programms__column-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.programms__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.programms__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}
.programms__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.programms__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.programms__box {
  padding: 28px 20px;
  margin: 0px 0px 32px 0px;
  border: 1px solid #DEDEFF;
  border-radius: 5px;
}
.programms__top {
  font-family: "Montserrat";
  height: 71px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  color: #3035C4;
  margin: 0px 0px 16px 0px;
}
.programms__top_size {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.programms__top span {
  font-size: 40px;
}
.programms__bottom {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #23283B;
  line-height: 20px;
}
.programms__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 40px 0px;
}
.programms__list li {
  margin: 0px 0px 12px 0px;
  padding: 0px 0px 0px 32px;
  line-height: 21px;
  color: #23283B;
  position: relative;
}
.programms__list li:last-child {
  margin: 0;
}
.programms__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 18px;
  background: url("../img/icons/Check.png") 0 2px no-repeat;
}
.programms__btn {
  display: inline-block;
  height: 52px;
  width: 230px;
  background: #E6514A;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 0px 60px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px 0px 20px 0px;
  -ms-flex-item-align: center;
      align-self: center;
}
.programms__btn:hover {
  background-color: #BE312B;
}
.programms__text {
  display: inline-block;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  line-height: 16px;
  color: #3035C4;
}
.programms__text:hover {
  color: #BE312B;
}
.programms__text span {
  position: relative;
  padding: 0px 0px 0px 28px;
}
.programms__text span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../img/icons/playblue.png") 0 0 no-repeat;
}
.programms__text span:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: url("../img/icons/playred.png") 0 0 no-repeat;
}

.btn {
  display: inline-block;
  height: 52px;
  background: #E6514A;
  border-radius: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 0px 60px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
}
.btn:hover {
  background-color: #BE312B;
}

.diploma {
  padding: 106px 135px;
}
.diploma__body {
  background-color: #3035C4;
  -webkit-box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
          box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 100px 70px;
  position: relative;
}
.diploma__content {
  width: 550px;
  color: #FFFFFF;
}
.diploma__title {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  margin: 0px 0px 25px 0px;
}
.diploma__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0px 32px 0px;
}
.diploma__img {
  position: absolute;
  top: -36px;
  left: 70px;
  width: 400px;
  height: 533px;
  border: 1px solid rgb(103, 27, 27);
}
.diploma__img img {
  width: 100%;
  height: 100%;
  border: 15px groove #BE312B;
}

.partners {
  padding: 80px 0px;
}
.partners__title {
  margin: 0px 0px 52px 0px;
}
.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -28.2px;
}
.partners__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6666666667%;
          flex: 0 1 16.6666666667%;
  padding: 0px 28.2px;
}
.partners__img {
  width: 176px;
  height: 35px;
}
.partners__img img {
  height: 100%;
}

.subscribe {
  padding: 60px 0px 100px 0px;
}
.subscribe__body {
  padding: 100px 70px;
  border-radius: 20px;
  background: url("../img/flag.jpg") 0 0 no-repeat;
}
.subscribe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__text {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 36px;
  line-height: 47px;
  color: #FFFFFF;
  width: 600px;
}
.courses {
  background-color: #F8F8FF;
  padding: 80px 0px;
}
.courses__title {
  margin: 0px 0px 52px 0px;
}
.courses__levels {
  padding: 0px 0px 63px 0px;
}
.levels {
  width: 970px;
  margin: 0px auto;
}
.levels_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.levels__item {
  width: 160px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #9497E1;
  display: inline-block;
}
.levels__item span:hover {
  color: #3035C4;
}
.levels__item_red {
  width: 266px;
  color: #E6514A;
  position: relative;
}
.levels__item_red::after {
  content: "";
  width: 260px;
  height: 3px;
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: #E6514A;
}

.slides__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -22px;
}
.slides__column {
  padding: 0px 22px;
  position: relative;
}
.slides__column a.slides__item_left {
  position: relative;
}
.slides__column a.slides__item_left:hover::after {
  content: "";
  position: absolute;
  top: 21.5px;
  left: 23.5px;
  width: 8px;
  height: 15px;
  background: url("../img/icons/Leftwhite.png") 0 0 no-repeat;
}
.slides__column a.slides__item_right {
  position: relative;
}
.slides__column a.slides__item_right:hover::after {
  content: "";
  position: absolute;
  top: 21.5px;
  left: 23.5px;
  width: 8px;
  height: 15px;
  background: url("../img/icons/Rightblue.png") 0 0 no-repeat;
}
.slides__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
          box-shadow: 0px 10px 40px rgba(0, 11, 68, 0.22);
  border-radius: 10px;
}
.slides__center {
  padding: 48px 52px;
}
.slides__title {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  color: #3035C4;
  margin: 0px 0px 24px 0px;
}
.slides__text {
  line-height: 21px;
  color: #23283B;
  margin: 0px 0px 48px 0px;
}
.circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.circle img {
  max-width: 100%;
}
.circle:hover {
  background-color: #3035C4;
}

.row-center {
  color: #23283B;
}
.row-center__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -30px;
}
.row-center__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 30px;
}
.row-center__title {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 19px;
  line-height: 26px;
  margin: 0px 0px 24px 0px;
}
.row-center__list li {
  line-height: 28px;
  position: relative;
  padding: 0px 0px 0px 32px;
  margin: 0px 0px 16px 0px;
}
.row-center__list li span {
  font-weight: 800;
}
.row-center__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 25px;
  background: url("../img/icons/Check.png") 0 6px no-repeat;
}
.row-center__list li:last-child {
  line-height: 21px;
}
.row-center__list li:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 25px;
  background: url("../img/icons/Check.png") 0 2px no-repeat;
}
.row-center__percent li {
  position: relative;
  line-height: 28px;
  margin: 0px 0px 28px 0px;
}
.row-center__percent li span {
  font-weight: 800;
  color: #E6514A;
}
.row-center__percent li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 220px;
  height: 4px;
  background: url("../img/icons/Frame down.png") 0 0 no-repeat;
}
.mentors {
  padding: 100px 0px 60px 0px;
}
.mentors__title {
  margin: 0px 0px 52px 0px;
}
.mentors__row-top {
  margin: 0px 0px 60px 0px;
}
.mentors__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}
.mentors__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mentors__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mentors__photo {
  width: 376.67px;
  height: 210px;
  background: #DEDEFF;
  border-radius: 12px;
  margin: 0px 0px 43px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mentors__photo img {
  max-width: 100%;
  max-height: 95%;
  border-radius: 12px;
  -webkit-box-shadow: 1px 1px 10px #000;
          box-shadow: 1px 1px 10px #000;
}
.mentors__name {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: #3035C4;
  margin: 0px 0px 32px 0px;
}
.mentors__description {
  line-height: 21px;
  text-align: center;
  color: #23283B;
  padding: 0px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.mentors__row-down {
  max-width: 120px;
  margin: 0px auto;
}
.mentors__column-down {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 0px 10px;
}
.mentors__item-down {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #DEDEFF;
  border-radius: 50%;
}
.mentors__item-down:hover {
  background-color: #3035C4;
}
.mentors__item-down_red {
  background-color: #E6514A;
}

.need {
  padding: 60px 0px;
}
.need__main {
  -webkit-box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
          box-shadow: 0px 10px 40px rgba(73, 95, 211, 0.22);
  border-radius: 20px;
  background: url("../img/flag2.jpg") 0 0 no-repeat;
  padding: 80px 70px;
  height: 493px;
}
.need__content {
  width: 500px;
}
.need__subtitle {
  text-align: left;
  color: #fff;
  padding: 0px 0px 0px 52px;
}
.need__title {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  color: #FFFFFF;
  margin: 0px 0px 32px 0px;
}
.need__list {
  padding: 0px 0px 0px 33px;
}
.need__list li {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #E6514A;
}
.need__list span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.cons {
  padding: 80px 0px;
  text-align: center;
}
.cons__body {
  max-width: 970px;
  margin: 0px auto;
}
.cons__title {
  margin: 0px 0px 92px 0px;
}
.cons__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -92.5px;
}
.cons__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 92.5px;
}
.cons__item {
  text-align: center;
}
.cons__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
          box-shadow: 0px 10px 24px rgba(73, 95, 211, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
}
.cons__img img {
  max-width: 100%;
}
.cons__boldtext {
  margin: 20px 0px 12px 0px;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: #23283B;
}
.cons__text {
  font-size: 16px;
  line-height: 24px;
  color: #23283B;
}
.cons__btn {
  margin: 80px 0px 0px 0px;
}

.balloon {
  background: url("../img/balloons.jpg") 50% 50%/100% auto no-repeat;
  padding: 100px 205px;
}
.balloon__body {
  max-width: 1030px;
  margin: 0px auto;
}
.balloon__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.balloon__text {
  width: 600px;
}
.balloon__title {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 48px;
  color: #FFFFFF;
  margin: 0px 0px 28px 0px;
}
.balloon__description {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer {
  background: #3035C4;
  padding: 60px 0px 40px 0px;
}
.footer__top {
  padding: 0px 0px 52px 0px;
}
.footer__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__top-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.footer__top-item li {
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}
.footer__top-item li:last-child {
  margin: 0;
}
.footer__top-item_left {
  width: 200px;
}
.footer__top-item_left li {
  margin: 0px 0px 25px 0px;
}
.footer__top-item_center {
  width: 203px;
}
.footer__top-item_right {
  width: 270px;
}
.footer__logo {
  margin: 0px 0px 24px 0px;
}
.footer__list li {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 0px 0px 24px 0px;
}
.footer__list li a {
  color: #fff;
}
.footer__list li a:hover {
  color: #E6514A;
}
.footer__list li p {
  font-weight: 400;
  padding: 12px 0px 0px 0px;
}
.footer__list li p span {
  display: inline-block;
  padding: 0px 0px 0px 28px;
  margin: 0px 0px 10px 0px;
  position: relative;
}
.footer__list li p span:nth-child(1)::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icons/phone.png") 0 0 no-repeat;
}
.footer__list li p span:nth-child(3) {
  margin: 0;
}
.footer__list li p span:nth-child(3)::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/icons/whatsapp.png") 0 0 no-repeat;
}
.footer__bottom {
  border-top: 1px solid rgba(222, 222, 255, 0.5);
  padding: 32px 0px 0px 0px;
}
.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__underline a:hover {
  text-decoration: underline;
}
.footer__bottom-item_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom-item_flex a {
  margin: 0px 20px 0px 0px;
}
.footer__bottom-item_flex a:last-child {
  margin: 0;
}
.footer__bottom-item_flex a:nth-child(1) {
  position: relative;
}
.footer__bottom-item_flex a:nth-child(1):hover::after {
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  position: absolute;
  background: url("../img/icons/11.png") 0 0 no-repeat;
}
.footer__bottom-item_flex a:nth-child(2) {
  position: relative;
}
.footer__bottom-item_flex a:nth-child(2):hover::after {
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  position: absolute;
  background: url("../img/icons/22.png") 0 0 no-repeat;
}
.footer__bottom-item_flex a:nth-child(3) {
  position: relative;
}
.footer__bottom-item_flex a:nth-child(3):hover::after {
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  position: absolute;
  background: url("../img/icons/33.png") 0 0 no-repeat;
}
.footer__bottom-item_flex a:nth-child(4) {
  position: relative;
}
.footer__bottom-item_flex a:nth-child(4):hover::after {
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  position: absolute;
  background: url("../img/icons/utubered.png") 0 0 no-repeat;
}
.footer__bottom-item a {
  font-family: "Montserrat";
  color: #FFFFFF;
  margin: 0px 24px 0px 0px;
}
.footer__bottom-item a:last-child {
  margin: 0;
}